package main

import (
	"github.com/go-redis/redis/v8"

	{{ .TemplatePackages }}
)

type Gohm struct {
	*redis.Client

	{{ .TemplateGohmFields }}
}

{{ range .Entities }}

type {{ .Name.Name }} struct {
	*redis.Client
}

func({{ toReceiverCase .Name.Name  }} *{{ .Name.Name }}) Create(ctx context.Context, {{ toLower .Name.Name }} *{{ .NamespacedEntity }}) {
	panic("not implemented")
}

{{ end }}


