package gohm

import (
	"context"
	"fmt"
	"reflect"
	"strconv"
	"strings"

	"github.com/go-redis/redis/v8"
	"github.com/google/uuid"

	{{ range .Packages -}}
	{{ .Name }} "{{ .PkgPath }}"
	{{ end }}
)

type GohmClient struct {
	*redis.Client

	{{ range .Models -}}
	{{ .Name.Name }} *{{ .Name.Name }}
	{{ end -}}
}

// Works just like redis.NewClient and returns a Redis client.
func NewClient(opt *redis.Options) *GohmClient {
	redisClient := redis.NewClient(opt)

	gohmClient := &GohmClient{
		redisClient,
		{{ range .Models -}}
		&{{ .Name.Name }}{rdb: redisClient},
		{{ end -}}
		}
	
	return gohmClient
}

{{ range .Models -}}

{{ $model := .Name.Name -}}

type {{ $model }} struct {
	rdb *redis.Client
}

{{ template "save" . }}

{{ template "find-many" . }}

{{ template "stringify-struct" . }}

{{ template "4-option-helpers.go.tmpl" . }}

{{ end -}}

{{ template "5-generic-helpers.go.tmpl" }}