{{- define "save" -}}

{{ $model := .Name.Name -}}
{{ $nsmodel := printf "%s.%s" .Pkg.Name .Name.Name -}}
{{ $numodel := lowerFirst .Name.Name -}}
{{ $rcv := toReceiverCase .Name.Name -}}

// Save inserts one {{ $model }} into Redis. Returns either an error or nil.
// The convention for keys is "<model>:<field>:<value>" for individual fields
// and "<model>:<uuid>" for the hash map.
func({{ $rcv }} *{{ $model }}) Save(ctx context.Context, {{ $numodel }} *{{ $nsmodel }}) error {
	_pipe := {{ $rcv }}.rdb.Pipeline()
	_mKey := genKey("{{ $model }}", uuid.NewString())
	_vMap, err := stringify{{ $model }}({{ $numodel }})
	if err != nil {
		return err
	}

	for k, v := range _vMap {
		_pipe.SAdd(ctx, genKey("{{ $model }}", k, v), _mKey)
	}
	_pipe.HSet(ctx, _mKey, _vMap)

	_, err = _pipe.Exec(ctx)
	return err
}
{{- end -}}