{{ $model := .Name.Name }}
{{ $findopt := printf "%sFindOpt" $model -}}

// {{ $findopt }} is a utility type for searching {{ $model }} models.
type {{ $findopt }} struct {
	{{- range .Fields -}}
	{{ .Name }} *{{ .Type.String }}
	{{ end -}}
}