{{ if eq .Type "int" "int8" "int16" "int32" -}}
strconv.FormatInt(int64({{ .RawExp }}), 10)
{{- else if eq .Type "int64" -}}
strconv.FormatInt({{ .RawExp }}, 10)

{{- else if eq .Type "uint" "uint8" "uint16" "uint32" -}}
strconv.FormatUint(uint64({{ .RawExp }}), 10)
{{- else if eq .Type "uint64" -}}
strconv.FormatUint({{ .RawExp }}, 10)

{{- else if eq .Type "float32" -}}
strconv.FormatFloat(float64({{ .RawExp }}), 'E', -1, 32)
{{- else if eq .Type "float64" -}}
strconv.FormatFloat({{ .RawExp }}, 'E', -1, 64)

{{- else if eq .Type "complex64" -}}
strconv.FormatComplex(complex128({{ .RawExp }}), 'E', -1, 64)
{{- else if eq .Type "complex128" -}}
strconv.FormatComplex({{ .RawExp }}, 'E', -1, 128)

{{- else if eq .Type "bool" -}}
strconv.FormatBool({{ .RawExp }})

{{- else -}}
{{ .RawExp }}
{{- end }}